
.backgroundImage {
  background-image: url("https://media-rd.s3.amazonaws.com/embedded_image/2018/04/Sahara%20Desert.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}



img {
  height: 1200px;
  width: 100%;
}

.title {
  position:absolute;
  text-align: center;
  color:rgb(1, 87, 1)
  top: 5%;
  left:60%;
  font-size: 50px;
}

.thimble {
  
  position: absolute;
  top: 60%;
  left: 42%;
  font-size: x-large;
  color:white;
  font-style: oblique;
  /* transform: rotate(180deg);
  /* transform: scaleX(-1); */
}



.thimbleimg{
    display:flex;
    width: 55%;
    height: 190%;
    box-shadow: 10px 10px 10px black; 
    border-radius: 15%;
    border-color:black ;
  
}


.moon {
  position: absolute;
  top: 60%;
  left: 80%;
font-size: x-large;
color:white;
font-style: oblique;
}

.moonimg {
  
    display:flex;
    width: 215px;
    height: 222px;
    box-shadow: 10px 10px 10px black; 
    border-radius: 15%;
    border-color:black ;
}

.bunny {
  position: absolute;
  top: 60%;
  right: 80%;
  font-size: x-large;
  color:white;
  font-style: oblique;
}

.bunnyimg {
    display:flex;
    width: 220px;
    height: 222px;
    box-shadow: 10px 10px 10px black; 
    border-radius: 15%;
    border-color:black ;
}

.organP {
  position:absolute;
  top: 150%;
  right: 10%;
  color:white;
  font-size: x-large;
  font-style: oblique;
}

.organimg {
    display:flex;
    width: 225px;
    height: 230px;
    box-shadow: 10px 10px 10px black; 
    border-radius: 15%;
    border-color:black ;
}

.saguaro {
  position:absolute;
  top: 150%;
  left: 10%;
  color:white;
  font-size: x-large;
  font-style: oblique;
}

.saguaroimg {
  display:flex;
  width: 215px;
  height: 222px;
  box-shadow: 10px 10px 10px black; 
  border-radius: 15%;
  border-color:black ;

}